Repository FrenkyDema/Valorant_translator, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, library, ui, pages, workflows, resources

.github/labeler.yml:

documentation:
  - .github/*

library:
  - src/libs/*

ui:
  - src/gui/*

pages:
  - src/gui/pages/*

workflows:
  - .github/workflows/*

resources:
  - src/resources/*

Update README.md
  .github/README.md
Labels: documentation

Update README.md
  .github/README.md
Labels: documentation

Refactoring
  src/gui/pages/translate_page.py
  src/main.py
Labels: pages

Update README.md
  README.md
Labels: none

Delete README.md
  README.md
Labels: none

Update README.md
  .github/README.md
Labels: documentation

Update README.md
  .github/README.md
Labels: documentation

Settings GUI
  src/gui/main_app.py
  src/gui/main_app_enum.py
  src/gui/pages/update_page.py
  src/main.py
  src/resources/icons/loading.gif
  src/resources/icons/settings_icon.png
Labels: ui, pages

Update lib.py
  src/libs/lib.py
Labels: library

Update lib.py
  src/libs/lib.py
Labels: library

Update main.py
  src/main.py
Labels: none

Back button
  src/gui/main_app.py
  src/gui/pages/update_page.py
  src/resources/icons/back_icon.png
Labels: ui, pages

Update languages
  src/resources/languages/en_US_Text-WindowsClient.pak
  src/resources/languages/en_US_Text-WindowsClient.sig
  src/resources/languages/it_IT_Text-WindowsClient.pak
  src/resources/languages/it_IT_Text-WindowsClient.sig
  src/resources/languages/ja_JP_Text-WindowsClient.pak
  src/resources/languages/ja_JP_Text-WindowsClient.sig
Labels: none

Debug print
  src/debug.py
  src/gui/pages/translate_page.py
  src/gui/pages/update_page.py
  src/libs/Valorant.py
  src/libs/lib.py
  src/libs/test.py
  src/main.py
Labels: library, pages

Update lib.py
  src/libs/lib.py
Labels: library
